.password-container {
  max-width: 1320px;
  margin: 2rem auto;
  position: relative;
  .background {
    position: absolute;
    max-width: 100%;
    top: -3em;
    z-index: -1;
  }
  .wrapper {
    .product-name {
      h1 {
        font-family: var(--home-font);
        font-size: 32px;
        font-weight: 700;
        color: #2a1e5c;
        text-align: center;
        margin: 2rem 0;
      }
    }

    .input {
      h2 {
        font-family: var(--home-font2);
        font-weight: 400;
        text-align: center;
        margin-top: 2.5rem;
      }
      h3 {
        font-family: var(--home-font);
        font-weight: 400;
        text-align: center;
        margin: 1rem;
        line-height: 30px;
      }
      .input-wrapper {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        width: 30%;
        margin: 0 auto;
        .password-div {
          display: flex;
          align-items: center;
          .eye {
            margin-left: -30px;
            :hover {
              cursor: pointer;
            }
          }

          input {
            width: 100%;
            padding: 1rem;
            border: 1px solid #2a1e5c;
            border-radius: 5px;
            outline: none;
            font-family: var(--home-font);
            font-size: 16px;
            font-weight: 400;
            color: #2a1e5c;
          }
        }
        p {
          font-family: var(--home-font);
          font-size: 16px;
          font-weight: 400;
          color: #0a0f0d;
        }
        .err {
          color: red;
          font-family: var(--home-font);
          font-size: 16px;
        }
      }
    }

    .create-account {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      flex-direction: column;
      margin-top: 1rem;
      .next-page {
        background-color: #ee4266;
        color: #fff;
        padding: 1rem;
        border: none;
        border-radius: 60px;
        font-family: var(--home-font2);
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        width: 366px;
      }
      .previous-page {
        background-color: #fff;
        color: #ee4266;
        padding: 1rem;
        border: none;
        border-radius: 60px;
        font-family: var(--home-font2);
        font-size: 20px;
        font-weight: 700;
        cursor: pointer;
        text-align: center;
        text-decoration: none;
        width: 366px;
      }
    }
    .messageIcon {
      position: absolute;
      left: 70em;
      top: 23rem;
    }
  }
}
